.app {
	width: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sortButton {
	background: lightseagreen;
	color: #fff;
	padding: 3px 10px;
	margin-bottom: 8px;
	border: none;
	border-radius: 5px;
	font-size: 12px;
	line-height: 24px;
}

.sortButton,
.deleteButton:hover {
	background: rgb(25, 138, 132);
}
.submitButton:hover {
	background: rgb(25, 138, 132);
}
.sortButton:hover {
	background: rgb(25, 138, 132);
}
.returnButton:hover {
	background: rgb(25, 138, 132);
}
.updateButton:hover {
	background: rgb(25, 138, 132);
}

.todoInput {
	width: 300px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.submitButton {
	background: lightseagreen;
	color: #fff;
	padding: 3px 10px;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	line-height: 24px;
}

.searchInput {
	width: 200px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.todoItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
	padding: 10px;

	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #ffffff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.updateButton {
	background: lightseagreen;
	padding: 6px 12px;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	position: fixed;
	right: 150px;
}

.deleteButton {
	background: lightseagreen;
	color: #fff;
	padding: 6px 12px;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	height: 28px;
}

.loader {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3498db;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.returnButton {
	background: lightseagreen;
	color: #fff;
	padding: 6px 12px;
	margin: 7px;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	height: 28px;
}
